.services {
  display: grid;
  grid-column: center-start / center-end;

  @include addBorderShadow;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &__item {
      flex-basis: 30rem;
      margin: 1rem;
      @include addBorderShadow;
    }
  }
}
